<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preenvíos</title>
</head>
<body>
    <h1>Preenvíos:</h1>
    <ul>
        {% for preenvio in preenvios %}
            <li>
                <a href="{% url 'Preenvios_detail' preenvio.id %}">
                    <button>{{ preenvio.title }}</button>
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'index' %}">Volver al inicio</a>

</body>
</html>