<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitudes</title>
</head>
<body>
    <h1>Boletines:</h1>
    <ul>
        {% for boletin in boletines %}
            <li>
                <a href="{% url 'boletin_detail' boletin.id %}">
                    <button>{{ boletin.title }}</button>
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'index' %}">Volver al inicio</a
</body>
</html>
