<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ preenvio.title }}</title>
</head>
<body>
    <h1>{{ preenvio.title }}</h1>
    <p>{{ preenvio.content }}</p>
    <form action="{% url 'rechazar_preenvio' preenvio.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Rechazar</button>
    </form>

    <form action="{% url 'subir_preenvio' preenvio.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Subir</button>
    </form>

    <a href="{{ request.META.HTTP_REFERER }}">← Volver</a>
</body>
</html>